Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/.vs/TSD Inventory/copilot-chat/49493ce0/sessions
/.vs/TSD Inventory/CopilotIndices/17.14.670.39694
/.vs/TSD Inventory/v15/Server/sqlite3
/.vs/TSD Inventory
/AvaloniaApplication1
/BoxERP
/DatabaseAPI
/decrypt
/database_table_backup
/DecryptionUtility
/EncryptPasswordUtility
/graphics
/graphics/attachment_blue32x32.png
/news
/packages
/printcard viewer
/Project1/.vs/Project1/CopilotIndices/17.14.670.39694
/purchase_requesets
/queries
/Roll Stock Inventory
/SysMedic
/TSD Inventory
/TSD Inventory Management
/TSDWebViewInventory
/WindowsFormsApp1
/WindowsFormsApp2
/WinFormsApp1
*.zip
*.txt
*.sln
