Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
/.vs/TSD Inventory/copilot-chat/49493ce0/sessions
/.vs/TSD Inventory/CopilotIndices/17.14.670.39694
/.vs/TSD Inventory/v15/Server/sqlite3
